.game {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    margin-top: 20vh;
}

.game-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.words-input {
    margin-bottom: 2vh;
}

.control-panel {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2vh;
}

.stop-watch {
    display: flex;
    align-items: center;
    color: #03587e;
    font-weight: bold;
    font-size: x-large;
    border: black solid 3px;
    border-radius: 10px;
}

.reset-button {
    border: black solid 3px;
    border-radius: 10px;
    font-size: x-large;
}

.words-monitor {
    margin-bottom: 2vh;
}