.top-scores-title {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: xx-large;
}

.scores-list {
    list-style-type: lower-alpha;
    padding: 0;
}

.score-item {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
}

.duration-info {
    margin-right: 5px;
    font-weight: bold;
}