.words-monitor {
    border: black solid 1px;
    border-radius: 15px;
    width: fit-content;
    padding: 5px 10px 5px 10px;
    display: flex;
    font-size: x-large;
    flex-wrap: wrap;
}

.word {
    margin: 3px;
    padding: 2px 5px 2px 5px;
    border: 1px #ffffff solid;
}

.current-word {
    border: cornflowerblue solid 1px;
    box-sizing: border-box;
}

.succeeded {
    color: green;
}

.failed {
    color: #880000;
}